@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brush Script MT";
  src: url("./assets/fonts/BRUSHSCI.ttf");
}

.bursh-font {
  font-family: "Brush Script MT";
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.home {
  background: url("./assets/image.png");
  background-size: cover;
}

.explore {
  /* background: rgb(255, 203, 170);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgba(255, 204, 170, 1) 200%,
    rgb(255, 204, 170) 300%
  ); */
}

.explore-img {
  background-image: url("./assets/layer.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-img-india {
  background-image: url("./assets/tajmahal.jpg");
  background-position: center;
  background-size: cover;
}

.bg-img-kenya {
  background-image: url("https://static.toiimg.com/thumb/86468337/Kenya.jpg?width=1200&height=900");
  background-position: center;
  background-size: cover;
}

.bg-img-lakshadweep {
  background-image: url("https://cdn.britannica.com/32/1632-050-940FB0E6/Beach-resort-Bangaram-Island-India-Lakshadweep.jpg");
  background-position: center;
  background-size: cover;
}

.bg-map {
  background-image: url("./assets/map.png");
  background-size: cover;
  background-position: center;
}

.bg-reviews::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;

  background-image: url("./assets/bgreviews.svg");
  background-size: cover;
  opacity: 0.5;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.india-font {
  font-size: 400px;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  letter-spacing: 3rem;
}
.india-font-1 {
  font-size: 100px;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  letter-spacing: 10px;
}
.text-with-space {
  word-spacing: 10px;
}
.text-with-space-1 {
  word-spacing: 5px;
}

/* Reviews.css */

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: red; /* Change to your desired color */
}

.custom-carousel .carousel-indicators .active {
  background-color: green; /* Change to your desired color */
}

.custom-carousel .carousel-indicators li {
  background-color: blue; /* Change to your desired color */
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  color: white; /* Change to your desired color */
}
